body{
    background-color:lightgray;
}

h1{
    color: rgb(75, 74, 74);
    text-align: center;
}

.friend{
    background-color: rgb(220, 248, 184);
    border: 0.1rem solid grey;
    padding: 1rem;
}

#upper{
    text-transform: uppercase;
}